<c-card>
  <c-card-body>
    <c-container>
      <c-row>
        <c-col class="pt-2"> <h5 cCardTitle>Receivers</h5></c-col>
        <c-col>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button mat-raised-button color="primary" (click)="onAddCustomer()">
              <fa-icon [icon]="faPlus"></fa-icon>
              Add Receiver
            </button>
          </div>
        </c-col>
      </c-row>
      <hr />
      <c-input-group class="mb-3">
        <input
          aria-describedby="button-addon2"
          aria-label="Find any customer"
          cFormControl
          placeholder="Find any customer"
        />
        <button cButton color="dark" id="button-addon2" type="button">
          <fa-icon [icon]="faSearch"></fa-icon>
          Search
        </button>
      </c-input-group>

      <table [striped]="true" cTable>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Mobile</th>
            <th scope="col">City</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          @for (cust of customerList; track cust.customerId; let idx = $index)
          {
              <tr>
            <th scope="row">{{ idx + 1 }}</th>
            <td>{{ cust.name }}</td>
            <td>{{ cust.mobile }}</td>
            <td>{{ cust.city | uppercase }}</td>
            <td class="text-center">
              <button cButton color="dark" variant="outline" class="me-2" size="sm" (click)="onEditCustomer(cust)">
                <fa-icon [icon]="faEdit" class="mr-3"></fa-icon>
              </button>
              <button cButton color="danger" variant="outline" size="sm" (click)="deleteCustomerById(cust)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
          } @empty {
            <tr>
              <td colSpan="5" class="text-center">No customer found.</td>
            </tr>
            }
        </tbody>
      </table>
    </c-container>
  </c-card-body>
</c-card>
