<c-card>
  <c-card-body>
    <c-container>
      <c-row>
        <c-col class="pt-2">
          <h5 cCardTitle>Receivers</h5>
        </c-col>
        <c-col>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button mat-raised-button color="primary" (click)="onAddReceiver()">
              <fa-icon [icon]="faPlus"></fa-icon>
              Add Receiver
            </button>
          </div>
        </c-col>
      </c-row>
      <hr />
      <ag-grid-angular class="ag-theme-quartz" domLayout="autoHeight" [rowData]="receiverList" [rowHeight]="50"
        [columnDefs]="colDefs" [gridOptions]="gridOptions" [pagination]="true">
      </ag-grid-angular>
    </c-container>
  </c-card-body>
</c-card>