<div class="auto-complete">
  <ng-autocomplete
    [data]="cities"
    [searchKeyword]="'name'"
    [formControl]="selectedCity"
    [debounceTime]="400"
    (selected)="selectEvent($event)"
    (inputChanged)="onChangeSearch($event)"
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate"
  >
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>
