<c-card>
  <!-- <c-card-header>Header</c-card-header> -->
  <c-card-body>
    <c-container>
      <c-row>
        <c-col class="pt-2"> <h5 cCardTitle>City Rates </h5></c-col>
        <c-col>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button cButton color="primary" (click)="onAdd()">
              <fa-icon [icon]="faPlus"></fa-icon>
              Add
            </button>
          </div>
        </c-col>
      </c-row>
      <hr />

      <table [striped]="true" cTable>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">City Name</th>
            <th scope="col">Rate Per KG</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          @for (cust of customerList; track cust.customerId; let idx = $index)
          {
              <tr>
            <th scope="row">{{ idx + 1 }}</th>
            <td>{{ cust.city }}</td>
            <td>{{ cust.name }}</td>
            <td class="text-center">
              <button cButton color="dark" variant="outline" class="me-2" size="sm" (click)="onEditCustomer(cust)">
                <fa-icon [icon]="faEdit" class="mr-3"></fa-icon>
              </button>
              <button cButton color="danger" variant="outline" size="sm" (click)="deleteCustomerById(cust)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
          } @empty {
            <tr>
              <td colSpan="4" class="text-center">No rates found.</td>
            </tr>
            }
        </tbody>
      </table>
    </c-container>
  </c-card-body>
</c-card>
