<c-card>
  <c-card-body>
    <c-container>
      <c-row>
        <c-col class="pt-2"> <h5 cCardTitle>Customer Details</h5></c-col>
      </c-row>
      <hr />
      <form [formGroup]="customerForm">
        <c-row class="mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" />
          </mat-form-field>
        </c-row>
        <c-row class="mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
          </mat-form-field>
        </c-row>
        <c-row class="mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput type="text"  formControlName="mobile" />
          </mat-form-field>
        </c-row>
        <c-row class="mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput type="text"  formControlName="address" />
          </mat-form-field>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" cCol [sm]="2" for="inputCity"> City </label>
          <c-col [sm]="10">
            <!-- <input cFormControl id="inputCity" type="text" formControlName="city" class="uppercase" /> -->
            <app-auto-complete-city #autocomplete [title]="'City'" (optionSelected)="handleCitySelected($event)"></app-auto-complete-city>

          </c-col>
        </c-row>
        <c-row class="mb-3">
          <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <input matInput type="text"  formControlName="state" />
          </mat-form-field>
        </c-row>

        <c-row class="mb-3">
          <c-col [sm]="2">
          <label cLabel="col" for="inputGST"> GST Details </label>
          </c-col>
          <c-col [sm]="4">
            <mat-form-field appearance="outline">
              <mat-label>GST Number</mat-label>
              <input matInput type="text"  formControlName="gstNo" />
            </mat-form-field>
            <!-- <input cFormControl id="inputGST" type="text" placeholder="GST Number" formControlName="gstNo" /> -->
          </c-col>
          <c-col [sm]="2">
            <mat-form-field appearance="outline">
              <mat-label>CGST %</mat-label>
              <input matInput type="text"  formControlName="cgst" />
            </mat-form-field>
            <!-- <input cFormControl id="cgst" type="text" placeholder="CGST %" formControlName="cgst" /> -->
          </c-col>
          <c-col [sm]="2">
            <mat-form-field appearance="outline">
              <mat-label>SGST %</mat-label>
              <input matInput type="text"  formControlName="sgst" />
            </mat-form-field>
            <!-- <input cFormControl id="sgst" type="text"  placeholder="SGST %" formControlName="sgst" /> -->
          </c-col>
          <c-col [sm]="2">
            <mat-form-field appearance="outline">
              <mat-label>IGST %</mat-label>
              <input matInput type="text"  formControlName="igst" />
            </mat-form-field>
            <!-- <input cFormControl id="igst" type="text"  placeholder="IGST %" formControlName="igst" /> -->
          </c-col>
        </c-row>


        <c-row class="mb-3">
          <label cLabel="col" cCol [sm]="2" for="inputState"> Active </label>
          <c-col [sm]="10" class="pt-2">
            <c-form-check [switch]="true" >
              <input cFormCheckInput type="checkbox" formControlName="isActive" />
            </c-form-check>
          </c-col>
        </c-row>



        <c-row class="mt-4">
          <c-col>
            <div class="d-grid gap-2">
              <button cButton color="dark" type="button" size="lg" class="me-3" (click)="onSubmit()" [disabled]="customerForm.invalid">
                <fa-icon [icon]="faSave"></fa-icon> Save
              </button>
            </div>
          </c-col>
          <c-col>
            <div class="d-grid gap-2">
              <button cButton color="secondary" variant="outline" size="lg" (click)="onBackClick()">
                <fa-icon [icon]="faXmark"></fa-icon> Cancel
              </button>
            </div>
          </c-col>
          <c-col *ngIf="addEditCustomerID > 0">
            <div class="d-grid gap-2">
              <button
                cButton
                variant="outline"
                size="lg"
                color="danger"
                (click)="deleteCustomerById()"
              >
              <fa-icon [icon]="faTrash"></fa-icon> Delete
              </button>
            </div>
          </c-col>
        </c-row>
      </form>
    </c-container>
  </c-card-body>
</c-card>
