<c-card>
  <!-- <c-card-header>Header</c-card-header> -->
  <c-card-body>
    <c-container>
      <c-row>
        <c-col class="pt-2"> <h5 cCardTitle>Customer Details</h5></c-col>
      </c-row>
      <hr />
      <form [formGroup]="customerForm">
        <c-row class="mb-3">
          <label cLabel="col" cCol [sm]="2" for="inputname"> Name* </label>
          <c-col [sm]="10">
            <input cFormControl id="inputname" type="text" formControlName="name" />
            <div class="error-text" *ngIf="customerForm.get('name')?.invalid && (customerForm.get('name')?.dirty || customerForm.get('name')?.touched)">
              Please enter customer name.
            </div>
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" cCol [sm]="2" for="inputEmail3"> Email </label>
          <c-col [sm]="10">
            <input cFormControl id="inputEmail3" type="email" formControlName="email" />
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" cCol [sm]="2" for="inputMobile"> Mobile* </label>
          <c-col [sm]="10">
            <input cFormControl id="inputMobile" type="text" formControlName="mobile" />
            <div class="error-text" *ngIf="customerForm.get('mobile')?.invalid && (customerForm.get('mobile')?.dirty || customerForm.get('mobile')?.touched)">
              Please enter valid mobile number.
            </div>
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" cCol [sm]="2" for="inputAddress"> Address </label>
          <c-col [sm]="10">
            <input cFormControl id="inputAddress" type="text" formControlName="address" />
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" cCol [sm]="2" for="inputCity"> City </label>
          <c-col [sm]="10">
            <!-- <input cFormControl id="inputCity" type="text" formControlName="city" class="uppercase" /> -->
            <app-snr-auto-complete #autocomplete (optionSelected)="handleCitySelected($event)"></app-snr-auto-complete>

          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" cCol [sm]="2" for="inputState"> State </label>
          <c-col [sm]="10">
            <input cFormControl id="inputState" type="text" formControlName="state" />
          </c-col>
        </c-row>

        <c-row class="mb-3">
          <c-col [sm]="2">
          <label cLabel="col" for="inputGST"> GST Details </label>
          </c-col>
          <c-col [sm]="4">
            <input cFormControl id="inputGST" type="text" placeholder="GST Number" formControlName="gstNo" />
          </c-col>
          <c-col [sm]="2">
            <input cFormControl id="cgst" type="text" placeholder="CGST %" formControlName="cgst" />
          </c-col>
          <c-col [sm]="2">
            <input cFormControl id="sgst" type="text"  placeholder="SGST %" formControlName="sgst" />
          </c-col>
          <c-col [sm]="2">
            <input cFormControl id="igst" type="text"  placeholder="IGST %" formControlName="igst" />
          </c-col>
        </c-row>


        <c-row class="mb-3">
          <label cLabel="col" cCol [sm]="2" for="inputState"> Active </label>
          <c-col [sm]="10" class="pt-2">
            <c-form-check [switch]="true" >
              <input cFormCheckInput type="checkbox" formControlName="isActive" />
            </c-form-check>
          </c-col>
        </c-row>



        <c-row class="mt-4">
          <c-col>
            <div class="d-grid gap-2">
              <button cButton color="dark" type="button" size="lg" class="me-3" (click)="onSubmit()" [disabled]="customerForm.invalid">
                <fa-icon [icon]="faSave"></fa-icon> Save
              </button>
            </div>
          </c-col>
          <c-col>
            <div class="d-grid gap-2">
              <button cButton color="secondary" variant="outline" size="lg" (click)="onBackClick()">
                <fa-icon [icon]="faXmark"></fa-icon> Cancel
              </button>
            </div>
          </c-col>
          <c-col *ngIf="addEditCustomerID > 0">
            <div class="d-grid gap-2">
              <button
                cButton
                variant="outline"
                size="lg"
                color="danger"
                (click)="deleteCustomerById()"
              >
              <fa-icon [icon]="faTrash"></fa-icon> Delete
              </button>
            </div>
          </c-col>
        </c-row>
      </form>
    </c-container>
  </c-card-body>
</c-card>
