<c-card>
  <c-card-body>
    <c-container>
      <c-row>
        <c-col class="pt-2"> <h5 cCardTitle>Rate by Cities and Customer</h5></c-col>
      </c-row>
      <hr />
      <c-row class="mb-3">
        <c-col [sm]="12">
          <mat-form-field appearance="outline">
            <mat-label>Select Customer</mat-label>
            <mat-select
              [(ngModel)]="selectedCustomer"
            >
              @for (customer of customerList; track $index) {
              <mat-option [value]="customer" (onSelectionChange)="onCustomerSelect($event.source.value)">{{ customer.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </c-col>
      </c-row>
      <c-row class="mb-3">
        <c-col [sm]="6">
          <mat-form-field appearance="outline">
            <mat-label>Select Mode</mat-label>
            <mat-select [(ngModel)]="transportationMode">
              <mat-option value="surface">Surface</mat-option>
              <mat-option value="air">Air</mat-option>
              <mat-option value="rail">Rail</mat-option>
            </mat-select>
          </mat-form-field>
        </c-col>
        <c-col [sm]="6">
          <app-auto-complete-city
            #autocomplete
            (optionSelected)="handleCitySelected($event)"
            [title]="'City'"
          ></app-auto-complete-city>
        </c-col>
      </c-row>
      <c-row class="mb-3">
        <c-col [sm]="4">
          <mat-form-field appearance="outline">
            <mat-label>Minimum Weight (KG)</mat-label>
            <input matInput type="text" [(ngModel)]="minWeight" />
          </mat-form-field>
        </c-col>
        <c-col [sm]="4">
          <mat-form-field appearance="outline">
            <mat-label>Rate Per KG</mat-label>
            <input matInput type="text" [(ngModel)]="ratePerKG" />
          </mat-form-field>
        </c-col>
        <c-col [sm]="4">
          <mat-form-field appearance="outline">
            <mat-label>Rate Per Piece</mat-label>
            <input matInput type="text" [(ngModel)]="ratePerPiece" />
          </mat-form-field>
        </c-col>
      </c-row>
      <c-row class="mt-4 mb-4">
        <c-col>
          <div class="d-grid gap-2">
            <button
            mat-raised-button color="primary"
              [disabled]="!enableSave()"
              (click)="onSave()"
            >
              <fa-icon [icon]="faSave"></fa-icon> Save
            </button>
          </div>
        </c-col>
        <c-col>
          <div class="d-grid gap-2">
            <button
            mat-raised-button
              (click)="resetForm()"
            >
              <fa-icon [icon]="faXmark"></fa-icon> Cancel
            </button>
          </div>
        </c-col>
      </c-row>
      <hr />
      <h5 cCardTitle *ngIf="selectedCustomer" class="text-center">
        Rates of {{ selectedCustomer.name }}
      </h5>
      <c-nav layout="justified" variant="tabs" *ngIf="selectedCustomer">
        <a
          [active]="isDefaultNavActive"
          [cTabContent]="tabContent"
          [tabPaneIdx]="0"
          cNavLink
          (click)="isDefaultNavActive = true"
          >SURFACE</a
        >
        <a
          [cTabContent]="tabContent"
          [tabPaneIdx]="1"
          cNavLink
          (click)="isDefaultNavActive = false"
          >AIR</a
        >
        <a
          [cTabContent]="tabContent"
          [tabPaneIdx]="2"
          cNavLink
          (click)="isDefaultNavActive = false"
          >RAIL</a
        >
      </c-nav>
      <c-tab-content #tabContent="cTabContent">
        <c-tab-pane class="p-3">
          <table bordered cTable>
            <thead>
              <tr>
                <th class="text-center" scope="col">City</th>
                <th class="text-center" scope="col">Min Weight</th>
                <th class="text-center" scope="col">Rate Per KG</th>
                <th class="text-center" scope="col">Rate Per Piece</th>
                <th class="text-center" scope="col" class="text-center">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              @for (data of surfaceList; track data.rateId; let idx = $index) {
              <tr>
                <td class="text-center">{{ data.city }}</td>
                <td class="text-center">{{ data.minWeight }}</td>
                <td class="text-center">
                  {{ data.ratePerKg ? data.ratePerKg : "-" }}
                </td>
                <td class="text-center">
                  {{ data.ratePerPiece ? data.ratePerPiece : "-" }}
                </td>
                <td class="text-center" class="text-center">
                  <button
                    cButton
                    color="dark"
                    variant="outline"
                    class="me-2"
                    size="sm"
                    (click)="onEditClick(data, idx)"
                  >
                    <fa-icon [icon]="faEdit" class="mr-3"></fa-icon>
                  </button>
                  <button
                    cButton
                    color="danger"
                    variant="outline"
                    size="sm"
                    (click)="onDeleteRate(data)"
                  >
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </td>
              </tr>

              } @empty {
              <tr>
                <td colSpan="5" class="text-center">No Rate found.</td>
              </tr>
              }
            </tbody>
          </table>
        </c-tab-pane>
        <c-tab-pane class="p-3">
          <table bordered cTable>
            <thead>
              <tr>
                <th class="text-center" scope="col">City</th>
                <th class="text-center" scope="col">Min Weight</th>
                <th class="text-center" scope="col">Rate Per KG</th>
                <th class="text-center" scope="col">Rate Per Piece</th>
                <th class="text-center" scope="col" class="text-center">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              @for (data of airList; track data.rateId; let idx = $index) {
              <tr>
                <td class="text-center">{{ data.city }}</td>
                <td class="text-center">{{ data.minWeight }}</td>
                <td class="text-center">
                  {{ data.ratePerKg ? data.ratePerKg : "-" }}
                </td>
                <td class="text-center">
                  {{ data.ratePerPiece ? data.ratePerPiece : "-" }}
                </td>
                <td class="text-center" class="text-center">
                  <button
                    cButton
                    color="dark"
                    variant="outline"
                    class="me-2"
                    size="sm"
                    (click)="onEditClick(data, idx)"
                  >
                    <fa-icon [icon]="faEdit" class="mr-3"></fa-icon>
                  </button>
                  <button
                    cButton
                    color="danger"
                    variant="outline"
                    size="sm"
                    (click)="onDeleteRate(data)"
                  >
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </td>
              </tr>

              } @empty {
              <tr>
                <td colSpan="5" class="text-center">No Rate found.</td>
              </tr>
              }
            </tbody>
          </table>
        </c-tab-pane>
        <c-tab-pane class="p-3">
          <table bordered cTable>
            <thead>
              <tr>
                <th class="text-center" scope="col">City</th>
                <th class="text-center" scope="col">Min Weight</th>
                <th class="text-center" scope="col">Rate Per KG</th>
                <th class="text-center" scope="col">Rate Per Piece</th>
                <th class="text-center" scope="col" class="text-center">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              @for (data of railList; track data.rateId; let idx = $index) {
              <tr>
                <td class="text-center">{{ data.city }}</td>
                <td class="text-center">{{ data.minWeight }}</td>
                <td class="text-center">
                  {{ data.ratePerKg ? data.ratePerKg : "-" }}
                </td>
                <td class="text-center">
                  {{ data.ratePerPiece ? data.ratePerPiece : "-" }}
                </td>
                <td class="text-center" class="text-center">
                  <button
                    cButton
                    color="dark"
                    variant="outline"
                    class="me-2"
                    size="sm"
                    (click)="onEditClick(data, idx)"
                  >
                    <fa-icon [icon]="faEdit" class="mr-3"></fa-icon>
                  </button>
                  <button
                    cButton
                    color="danger"
                    variant="outline"
                    size="sm"
                    (click)="onDeleteRate(data)"
                  >
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </td>
              </tr>

              } @empty {
              <tr>
                <td colSpan="5" class="text-center">No Rate found.</td>
              </tr>
              }
            </tbody>
          </table>
        </c-tab-pane>
      </c-tab-content>
    </c-container>
  </c-card-body>
</c-card>
