<c-card>
  <c-card-body>
    <c-container>
      <c-row>
        <c-col class="pt-2"> <h5 cCardTitle>User Details</h5></c-col>
      </c-row>
      <hr />
      <form [formGroup]="userForm">
        <c-row class="mb-3">
          <c-col [sm]="12">
            <mat-form-field appearance="outline">
              <mat-label>User Name</mat-label>
              <input
                matInput
                formControlName="userName"
              />
            </mat-form-field>
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="password"
            />
          </mat-form-field>
        </c-row>
        <c-row class="mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              formControlName="email"
            />
          </mat-form-field>
        </c-row>
        <c-row class="mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Mobile</mat-label>
            <input
              matInput
              type="text"
              formControlName="mobile"
            />
          </mat-form-field>
        </c-row>
        <c-row class="mb-3">
          <mat-form-field appearance="outline">
            <mat-label>User Type</mat-label>
            <mat-select formControlName="role">
              <mat-option value="fieldUser">Field User</mat-option>
              <mat-option value="storeManager">Store Manager</mat-option>
              <mat-option value="admin">Admin</mat-option>
            </mat-select>
          </mat-form-field>
        </c-row>
        <c-row class="mb-3">
          <app-auto-complete-city
              [title]="'City'"
              #autocomplete
              (optionSelected)="handleCitySelected($event)"
            ></app-auto-complete-city>
        </c-row>
        <hr class="mt-4" />
        <c-row class="mt-4">
          <c-col>
            <div class="d-grid gap-2">
              <button mat-raised-button color="primary" (click)="onSubmit()">
                <fa-icon [icon]="faSave"></fa-icon> Save
              </button>
            </div>
          </c-col>
          <c-col>
            <div class="d-grid gap-2">
              <button mat-raised-button (click)="onBackClick()">
                <fa-icon [icon]="faXmark"></fa-icon> Cancel
              </button>
            </div>
          </c-col>
          <c-col *ngIf="addEditUserID > 0">
            <div class="d-grid gap-2">
              <button
              mat-raised-button color="warn"
                (click)="deleteUserById()"
              >
                <fa-icon [icon]="faTrash"></fa-icon> Delete
              </button>
            </div>
          </c-col>
        </c-row>
      </form>
    </c-container>
  </c-card-body>
</c-card>
