<c-card>
  <!-- <c-card-header>Header</c-card-header> -->
  <c-card-body>
    <c-container>
      <c-row>
        <c-col class="pt-2"> <h5 cCardTitle>User Details</h5></c-col>
      </c-row>
      <hr />
      <form [formGroup]="userForm">
        <c-row class="mb-3">
          <label cLabel="col" cCol [sm]="2" for="inputunm"> User Name </label>
          <c-col [sm]="10">
            <input
              cFormControl
              id="inputunm"
              formControlName="userName"
              type="text"
            />
            <div
              class="error-text"
              *ngIf="
                userForm.get('userName')?.invalid &&
                (userForm.get('userName')?.dirty ||
                  userForm.get('userName')?.touched)
              "
            >
              Please enter user name.
            </div>
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" cCol [sm]="2" for="inputpass"> Password </label>
          <c-col [sm]="10">
            <input
              cFormControl
              id="inputpass"
              type="text"
              formControlName="password"
            />
            <div
              class="error-text"
              *ngIf="
                userForm.get('password')?.invalid &&
                (userForm.get('password')?.dirty ||
                  userForm.get('password')?.touched)
              "
            >
              Please enter user password.
            </div>
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" cCol [sm]="2" for="inputemail"> Email </label>
          <c-col [sm]="10">
            <input
              cFormControl
              id="inputemail"
              type="text"
              formControlName="email"
            />
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" cCol [sm]="2" for="inputmobile"> Mobile </label>
          <c-col [sm]="10">
            <input
              cFormControl
              id="inputmobile"
              type="text"
              formControlName="mobile"
            />
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" cCol [sm]="2" for="inputrole"> Role </label>
          <c-col [sm]="10">
            <select
              aria-label="Default select example"
              cSelect
              formControlName="role"
            >
              <option value="fieldUser">Field User</option>
              <option value="storeManager">Store Manager</option>
              <option value="admin">Admin</option>
            </select>
          </c-col>
        </c-row>
        <hr class="mt-4" />
        <c-row class="mt-4">
          <c-col>
            <div class="d-grid gap-2">
              <button
                cButton
                color="dark"
                class="me-3"
                size="lg"
                type="button"
                (click)="onSubmit()"
              >
              <fa-icon [icon]="faSave"></fa-icon>  Save
              </button>
            </div>
          </c-col>
          <c-col>
            <div class="d-grid gap-2">
              <button
                cButton
                variant="outline"
                size="lg"
                color="secondary"
                (click)="onBackClick()"
              >
              <fa-icon [icon]="faXmark"></fa-icon> Cancel
              </button>
            </div>
          </c-col>
          <c-col *ngIf="addEditUserID > 0">
            <div class="d-grid gap-2">
              <button
                cButton
                variant="outline"
                size="lg"
                color="danger"
                (click)="deleteUserById()"
              >
              <fa-icon [icon]="faTrash"></fa-icon> Delete
              </button>
            </div>
          </c-col>
        </c-row>
      </form>
    </c-container>
  </c-card-body>
</c-card>
