// Here you can add other styles

.btn:disabled {
  cursor: no-drop !important;
}

.error-text {
  color: red;
}

.uppercase{
  text-transform: uppercase;
}

.autocomplete-container .input-container input {
  display: block !important;
  width: 100% !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: var(--cui-input-color, rgba(44, 56, 74, 0.95)) !important;
  background-color: var(--cui-input-bg, #fff) !important;
  background-clip: padding-box !important;
  border: 1px solid var(--cui-input-border-color, #b1b7c1) !important;
  appearance: none !important;
  border-radius: 0.375rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.autocomplete-container {
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: green !important;
  border-color: var(--cui-form-check-input-checked-border-color, #321fdb);
}

.form-switch .form-check-input {
  width: 3em !important;
  height: 20px !important;
}

.mat-mdc-form-field {
  width: 100% !important;
}

.mat-mdc-form-field-subscript-wrapper {
  height: 0;
}

.form-control-lg {
    min-height: calc(2em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
}

.md-datepicker-input-container {
  height: 300px !important;
}

.mat-mdc-raised-button {
  height: 45px !important;
}
